/* Resets */
body,
p,
a,
ul,
li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style-type: block;
}

body li {
    list-style-type: none;
}

/* Fonts */
body {
    font-family: 'Poppins', sans-serif;}

h1,
h2,
h3,
h4 {
    color: #fff;
    font-weight: normal;
}

p,
a,
li {
    color: #fff;
}

h1
 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1em;
    font-weight: bold;
}

/* Base styles */
.button {
    background: none;
    border: 2px solid rgba(255, 255,255, 0.85);
    color: #fff;
    padding: 6px 12px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
    display: inline-block;
    text-wrap: nowrap;
    text-align: center;
}

.button:hover {
    color: #231942;
    background: #fff;
    transition: 0.1s;

}

html {
    scroll-behavior: smooth;

}

body {
    background-image: url(assets/background/blue-wallpaper-with-blue-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Mobile version */
.front-page {
    /* background-image: linear-gradient(to bottom right, #0A1128, #034078); */
    /* background-image: url(assets/background/27532.jpg); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 25px;
    gap: 0.1em;
}

.site-nav {
    padding-top: 10px;
    align-items: center;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-image: url(assets/background/blue-wallpaper-with-blue-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.site-nav.sticky {
    background-color: white;
    background-image: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.04);
    z-index: 1000;
    transition: background-color 0.6s ease;
}

.site-nav.sticky .white-display{
    display: none;
}
.site-nav.sticky .blue-display {
    display: block;
}

.site-nav.sticky a:hover{
    color:#131f46;
}

.site-nav.sticky .button:hover {
    background: #131f46;
    color: white;

}

.site-nav.sticky ul a:after {
    content: "";
    position: absolute;
    background-color:#101c43;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.site-nav.sticky a {
    color:#101a3c
}
.site-nav.sticky .button {
    color:#101a3c;
    border: 2px solid #131f46;
}

.bw-logo {
    grid-column: span 2;
    max-width: 5em;
}

.white-display {
    display: block;
}

.blue-display {
    display: none;
}

.site-nav ul {
    display: flex;
    grid-column: 5/13;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    flex-grow: 1;
}

.site-nav a {
    text-decoration: none;
    letter-spacing: 0.8px;
    color: rgba(255, 255,255, 0.85)
}

.site-nav ul a {
    position: relative;
}

.site-nav ul a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
.site-nav ul a:hover {
    color: white;
}

.site-nav ul a:hover:after {
    width: 100%;
}
.front-page h1 {
    text-align: center;
    grid-column: 1/13;
    font-weight:600;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding-top: 150px;
}

.button-hidden  {
    grid-column: 1/13;
    justify-content: center;
    margin: 0 auto;}

.site-nav .button {
    /* grid-column: 12/13; */
    margin-top: 30px;
    width: 80x;
    margin: 0 auto;}

.nav-button-hidden {
    display: none;
}


.front-page-text:last-child {
    padding-bottom: 140px;
    align-items: center;
}

.schema-page {
    background-color: #fff;
}

.schema-page .grid {
    padding-bottom: 100px;
}

.schema-page h2 {
    font-weight:bolder;
    margin-bottom: 0;
    padding-top: 50px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

}
.schema-page > p {
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 25px;
    letter-spacing: 1.3px;
    font-size: 1.2em;
}

.schema-page h2, .schema-page p, .faq-page h2, .faq-page p {
    grid-column: span 12;
    text-align: center;
    color: #101c43;

}

.schedule-item p {
    color: #fff;
    text-align: inherit;
}
.schedule-item .schedule-item-img-text p {
font-size: 0.7em;
text-align: center;
}

.schedule-item {
    grid-column: span 12;
    /* border: #D81E5B 2px solid; */
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #101a3c, #034078);
    /* background-image: url(assets/background/background-fp.jpg); */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 13px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    gap: 15px;
}

.schedule-item:hover {
    background-image: linear-gradient(to top right, #162145, #034078);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
    transition: 0.5s;
} 

.schedule-item-img-text img{
    max-width: 110px;
    margin-bottom: 10px;
}

.booking-page {
    background-image: linear-gradient(to bottom right, #0A1128, #034078);
    /* background-image: url(assets/background/blue-wallpaper-with-blue-background.jpg);  */
    /* background-position: 40%; */
}

.booking-page h2{
    grid-column: span 12;
    text-align: center;
    font-weight: bolder;
    padding-top: 50px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.booking-page-container {
    grid-column: 1/13;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 10px;
    margin-bottom: 90px;
    padding: 0 0 40px 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* max-width: 520px; */
}

.booking-page h3 {
    text-align: center;
    margin-top: 30px;
}


.choice-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.choice-item {
    flex-direction: column;
    display: flex;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.booking-page button {
    margin: 0 auto;
    margin-top: 20px;
}

.booking-page label {
    color:white;
}

.booking-page input {
    border-radius: 50px;
    border: white;
    /* padding: 5px 128px 5px 10px; */
    padding: 5px 5px 5px 10px;
    flex-grow: 1;
}




.input-valid {
    height: 26px;
    border-radius: 50px;
    margin: 5px 0;
    background-image: linear-gradient(to right, #000000,#000000,#000000,#000000,#000000,#000000,#000000, #037838);
    display: flex;
}

.input-valid input:valid {
    margin-right: 15px;
}

.booking-page p {
    text-align: center;
    font-size: 0.7em;
}

.form-end-text {
    margin-top: 20px;
}
.faq-page {
    background-color: white;
}

.faq-page h2 {
    font-weight: bolder;
    margin-bottom: 0;
}

.faq-flex-container {
    grid-column: 1/13;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 100px;
}

.faq-flex-container img {
    width: 80%;
    align-self: center;
}

.faq-page p {
    padding-bottom: 20px;
}




.footer {
    /* background-image: linear-gradient(to top right, #0A1128, #034078); */
    background-image: url(assets/background/blue-wallpaper-with-blue-background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 40px; */
    font-size: 12px;
}

.footer-text-left {
    grid-column: 1/6;
    margin: 0;
    grid-row: 1;
    align-self: center;
}

.footer-text-right {
    grid-column: 9/13;
    text-align: end;
    grid-row: 1;
    align-self: center;
}

.footer img {
    width: 40%;
    grid-column: 5/9;
    align-self: center;
    margin: 0 auto;
    grid-row: 1;
    padding:20px 0;
} 

/* Tablet */
@media only screen and (min-width: 768px) {
    .front-page h1 {
        grid-column: 4/10;
        padding-top: 30px;
    }
    .site-nav ul {
        grid-column: 3/11; 
        justify-content: center;
    }

    .site-nav ul a{
        margin: 20px;
    }

    .site-nav {
        padding: 0 100px;
    }
    .grid {
        padding: 0 40px;
        gap: 1em;
    }
    .site-nav {
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .bw-logo {
        grid-column: span 2;
        max-width: 3em;
    }
    body {
        font-size: 14px;
    }
   
    .schedule-item {
        grid-column: span 6;
    }
    /* .schema-page .grid {
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
    } */
    
    .booking-page-container {
        grid-column: 4/10;
    
    }
    .faq-page img {
        grid-column: 4/10;
    }
    .faq-page p {
        padding-bottom: 20px;
        grid-column: 3/11;
    }
    .front-page {
        /* background-image: linear-gradient(to bottom right, #0A1128, #034078); */
        background-image: url(assets/background/blue-wallpaper-with-blue-background.jpg);
        background-size: 100%;
        background-position: 40%;
    }
    .faq-flex-container {
        grid-column: 3/11;
       
    }
    
    .faq-flex-container img {
        width: 50%;
    }

    .footer img {
        width: 10%;
        grid-column: 5/9;
        align-self: center;
        margin: 0 auto;
        grid-row: 1;
        padding:20px 0;
    } 

    .button-hidden  {
        display: none;
    }
    .nav-button-hidden {
        display: flex;
    grid-column: 12/13;    }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 16px;
    }

    .front-page h1 {
        grid-column: 4/10;
        padding-top: 220px;
        padding-bottom: 80px;
    }

    .grid {
        padding: 0 120px;   
     }
     .site-nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .booking-page-container {
        grid-column: 4/10;
    }
    .faq-flex-container {
        grid-column: 3/11;
        flex-direction: row;
       
    }
    .faq-flex-container {
        grid-column: 2/12;
       
    }

   .faq-flex-container img {
    order: 2;
    width: 50%;
    margin-left: 40px;  
     }
    
    .faq-text {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    }

    
   
}
